<% @recipe.each_slice(3) do |recipes| %>
  <div class="row" id="recipe">
    <% recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="recipe">
          <div class="image_wrapper">
            <%= link_to recipe do %>
              <%= image_tag recipe.image.url(:medium) %>
            <% end %>
          </div>
          <h2>
            <%= link_to recipe.title, recipe %>
          </h2>
          
          <% if user_signed_in? %>
           <button type="button" class="btn btn-secondary">
      
           <%= link_to like_recipe_path(recipe),  method: :put, remote: true, class: 'like' do %>
             <span class="glyphicon glyphicon-thumbs-up"></span>
             <span class="up-<%= recipe.id %>"><%= recipe.get_upvotes.size %></span>
          <% end %>
            
          </button>  
          <% end %>
          
          
        </div>
      </div>
    <% end %>
  </div>
<% end %>
